@page
@model Eventuras.Pages.Admin.Temp.ProductVariants.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ProductVariant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductVariant.Name" class="control-label"></label>
                <input asp-for="ProductVariant.Name" class="form-control" />
                <span asp-validation-for="ProductVariant.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductVariant.Description" class="control-label"></label>
                <input asp-for="ProductVariant.Description" class="form-control" />
                <span asp-validation-for="ProductVariant.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductVariant.Price" class="control-label"></label>
                <input asp-for="ProductVariant.Price" class="form-control" />
                <span asp-validation-for="ProductVariant.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductVariant.VatPercent" class="control-label"></label>
                <input asp-for="ProductVariant.VatPercent" class="form-control" />
                <span asp-validation-for="ProductVariant.VatPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ProductVariant.AdminOnly" /> @Html.DisplayNameFor(model => model.ProductVariant.AdminOnly))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProductVariant.ProductId" class="control-label"></label>
                <select asp-for="ProductVariant.ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
