// Extra scss

// Background colors
.bg {
    &-white { background-color: $white; }
    &-black { background-color: $black; }
    &-red { background-color: $red; }
    &-orange { background-color: $orange; }
    &-green { background-color: $green; }
    &-blue { background-color: $blue; }
    &-teal { background-color: $teal; }
    &-pink { background-color: $pink; }
    &-purple { background-color: $purple; }
    &-gray { background-color: $gray; }
}

.bg-gray{
    &-050 { background-color: #fafafa; }
    &-100 { background-color: #f5f5f5; }
    &-200 { background-color: #eeeeee; }
    &-300 { background-color: #e0e0e0; }
    &-400 { background-color: #bdbdbd; }
    &-500 { background-color: #9e9e9e; }
    &-600 { background-color: #757575; }
    &-700 { background-color: #616161; }
    &-800 { background-color: #424242; }
    &-900 { background-color: #121212; }
}

.font-weight{
    &-100 { font-weight: 100; }
    &-200 { font-weight: 200; }
    &-300 { font-weight: 300; }
    &-400 { font-weight: 400; }
    &-500 { font-weight: 500; }
    &-600 { font-weight: 600; }
    &-700 { font-weight: 700; }
    &-800 { font-weight: 800; }
    &-900 { font-weight: 900; }
}

.text {
    &-white { color: $white; }
    &-black { color: $black; }
    &-red { color: $red; }
    &-orange { color: $orange; }
    &-green { color: $green; }
    &-blue { color: $blue; }
    &-teal { color: $teal; }
    &-pink { color: $pink; }
    &-purple { color: $purple; }
    &-gray { color: $gray; }
}