@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@if (SignInManager.IsSignedIn(User))
{
    // is the current user authorized to see the next part of the page?
    if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.SuperAdmin) )
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a asp-page="/Admin/Events/Index" class="nav-link link-decoration-none"><i class="material-icons align-top">date_range</i> Kurs</a>
            </li>
            <li class="nav-item">
                <a asp-page="/Admin/Orders/Index" class="nav-link link-decoration-none"><i class="material-icons align-top">monetization_on</i> Ordre</a>
            </li>
            <li class="nav-item">
                <a asp-page="/Admin/Users/Index" class="nav-link link-decoration-none"><i class="material-icons align-top">supervisor_account</i> Brukere</a>
            </li>
        </ul>
    }
}