<footer class="footer">
    <div class="bg-gray-800 py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
    				<img class="text-light" alt="Logo" src="~/assets/images/logos/logo-negative-transparent.png">
				</div>
				<div class="col-md-3 text-light small pt-3">
    				<strong>Nordland legeforening</strong>
					<p>Adresse: Mørkvedsentret 17, 8028 Bodø</p>
					<p>Telefon: 977 44 181</p>
				</div>
				<div class="col-md-3 text-light small pt-3">
    				<strong>Informasjon</strong>
					<ul class="list-unstyled">
					<li><a asp-page="/Info/Privacy" class="text-light">Personvern</a></li>
					<li><a asp-page="/Info/Terms" class="text-light">Vilkår</a></li>
					<li><a asp-page="/Info/About" class="text-light">Om Nordland legeforening</a></li>
					</ul>
				</div>
			</div>
		</div>
    </div>
</footer>