@page
<div class="container">
	<h1 class="display-1">Vilkår</h1>


<p>Nordland legeforening er en lokalforening av Den norske legeforening. Foreningens skal fremme legeforeningens form&aring;l i omr&aring;det ved &aring; ivareta fellesskapet blant legene og virke for deres felles interesser ved blant annet:</p>
<ol>
<li>&aring; engasjere seg i lokal helsepolitikk i omr&aring;det og i helseregionen og arbeide for hensiktsmessig organisering av den samlede helsetjeneste.</li>
<li>&aring; ha overordnet ansvar for at det lokale arbeidet med inntekts- og arbeidsvilk&aring;r blir tilfredsstillende ivaretatt i samarbeid med yrkesforeningene. Lokalforeningene skal gi praktisk bistand til yrkesforeningene ved valg av tillitsvalgte og ved oppl&aelig;ring, samt dekke utgifter som tillitsvalgte har ved ut&oslash;velse av funksjonen. Avsetning til dette punkt skal fremg&aring; av budsjettet.</li>
<li>&aring; ha omsorg for, og yte hjelp til enkeltmedlemmer, gjennom blant annet &aring; s&oslash;rge for organisering av kollegast&oslash;tte og drift av helsetiltak for leger.</li>
<li>&aring; drive relevante kurs og annen utdanningsvirksomhet.</li>
<li>&aring; fremme kollegialitet og fellesskap mellom medlemmer, herunder pensjonistmedlemmer, i omr&aring;det ved m&oslash;ter eller andre tiltak for faglig og sosialt samv&aelig;r.</li>
<li>&aring; kunne l&oslash;se lokale tvister mellom medlemmer og motparter og mellom medlemmer.</li>
</ol>
<p>Foreningen ledes av et&nbsp;<a href="http://legeforeningen.no/lokal/nordland/Om-oss/styret-i-nlf-2009-2011/" target="_new">styre</a>&nbsp;og kurskomiteen leder&nbsp;<a href="http://legeforeningen.no/lokal/nordland/Om-oss/Kurskomite-2011---2013/" target="_new">kursvirksomheten</a>&nbsp;i samarbeid med&nbsp;<a href="http://legeforeningen.no/lokal/nordland/Om-oss/Kontakt-oss/" target="_new">sekretariatet</a>.</p>

</div>
