@page
<div class="container">
	<h1 class="display-1">Personvern</h1>
	<p>Personvernerkl&aelig;ringen beskriver hvordan Nordland legeforening samler inn og bruker informasjon om kundene p&aring; v&aring;re sider.</p>
<p>V&aring;re forpliktelser er blant annet beskrevet i f&oslash;lgende juridiske rammer:</p>
<ul >
<li>Personopplysningsloven &sect;19 om innsamling av personopplysninger</li>
<li>Personopplysningsloven &sect;18 om behandling av personopplysninger</li>
<li>Lov om elektronisk kommunikasjon &sect;2-7 om informasjonskapsler/cookies</li>
</ul>
<p>Nordland legeforening lagrer f&oslash;lgende informasjonskapsler om alle brukere:</p>
<ul>
<li>Google Analytics er Googles analyseverkt&oslash;y som hjelper innehavere av nettsider og apper med &aring; forst&aring; hvordan brukerne deres samhandler med funksjonene og egenskapene p&aring; nettsidene og i appene. Dette verkt&oslash;yet kan bruke et sett med informasjonskapsler for &aring; samle informasjon og rapportere statistikk om nettsidebruk, uten &aring; identifisere enkeltpersoner for Google.</li>
<li>Sesjonskapsel: Informasjonskapsel for sesjon, for &aring; holde styr p&aring; brukerens innlogging.</li>
</ul>
<p>Dersom bruker &oslash;nsker &aring; bestille kurs i v&aring;r l&oslash;sning vil flere data bli lagret i en database:</p>
<ul>
<li>Fullstendig navn og adresse</li>
<li>Epostadresse</li>
<li>Telefonnummer</li>
<li>Stilling/tittel</li>
<li>Arbeidsgiver</li>
<li>F&oslash;dselsdato vil lagres dersom det er n&oslash;dvendig for gjennomf&oslash;ring. Eksempelvis dersom kurset er p&aring; Hurtigrute.</li>
<li>Informasjon om hvem som skal betale for produktene vil lagres, mens kortdata blir ikke lagret p&aring; v&aring;r server.</li>
<li>Bestilte kurs</li>
<li>Tidspunkt for siste innlogging vil lagres.</li>
</ul>
<p>N&aring;r kurset er gjennomf&oslash;rt vil f&oslash;lgende data lagres:</p>
<ul>
<li>informasjon om best&aring;tt kurskrav og eventuelt kursbevis.</li>
</ul>
</div>
