@page "{p:int?}"
@model losol.EventManagement.Pages.Admin.Users.IndexModel
@{
    ViewData["Title"] = "Brukere";
    Layout = "~/Pages/_Layout.cshtml";

    int pageNumber = 1;
    if(RouteData.Values["p"] != null)
    {
        pageNumber = Convert.ToInt32(RouteData.Values["p"]);
    }
}

<div class="container">
    <h1>Brukere</h1>
</div>

<div class="container py-5 min-height-75">
	<div class="row">
        <div class="col">
            <table  
                data-toggle="table" 
                data-pagination="false"
                data-show-columns="true"
                data-show-export="true"
                data-sort-name="name"
                data-sort-order="asc"
                data-icons-prefix="fa"
                data-icons="icons"
                data-search="true"
                data-advanced-search="true"
                data-search-align="left"
                data-click-to-select="true"
                data-url="/api/v0/users"
                data-id-table="advancedTable"
                data-export-options='{
                    "fileName": "users@id-@DateTime.Now.ToString("yyyy-MM-dd")"
                }'>
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true">Navn</th>
                        <th data-field="email" data-sortable="true">Epost</th>
                        <th data-field="phone" data-sortable="true">Telefon</th>
                        <th data-formatter="RowActions" data-events="operateEvents">Meny</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- EMAIL Modal -->
                <div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="email-modal-title">Send epost til alle deltakere</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="email-subject">Email Subject</label>
                                <input class="form-control" id="email-subject" />
                            </div>

                            <div class="form-group">
                                <label for="email-text">Email Text</label>
                                <textarea class="form-control" id="email-text" rows="8"></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" onclick="sendEmail()" class="btn btn-primary">Send</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>   
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


                <!-- SMS Modal -->
                <div class="modal fade" id="sms-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="sms-modal-title" class="modal-title" id="exampleModalLabel">Send SMS til deltakerne</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="sms-text">SMS Text</label>
                            <textarea class="form-control" id="sms-text" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                        <button type="button" onclick="sendSms()" class="btn btn-primary">Send</button>
                    </div>
                    </div>
                </div>
                </div>

@section scripts { 
    <script>
    $(function () {
        var $table = $('table');
        window.icons = {
            toggle: 'fa-toggle-on',
            columns: 'fa-th-list',
            export: 'fa-download'
        };
    });
    </script>
    <script>

     // Helper function
    $.postJSON = function(url, data, callback) {
        return jQuery.ajax({
            headers: { 
                'Content-Type': 'application/json' 
            },
            'type': 'POST',
            'url': url,
            'data': JSON.stringify(data)
        });
    };

    const $table = $('#table');
    $('#toolbar').find('select').change(function () {
        $table.bootstrapTable('refreshOptions', {
            exportDataType: $(this).val()
        });
    });

        function RowActions(value, row, index, field) {
            actions = [
                '<a class="btn btn-secondary mr-1 link-decoration-none" href="/Admin/Users/Details/' + row.id + '" >Vis</a>', 
                '<a class="btn btn-secondary mr-1 link-decoration-none" href="/Admin/Users/Edit/' + row.id + '" >Endre</a>', 
                '<button type="button" data-participantemail="' + row.email + '" class="btn btn-secondary btn-send-sms mr-1">SMS</button>', 
                '<button type="button" data-participantemail="' + row.email + '" class="btn btn-secondary btn-send-email mr-1">Epost</button>', 
            ].join('');
            return actions;
        }

    window.icons = {
        refresh: 'fa-refresh',
        toggle: 'fa-toggle-on',
        columns: 'fa-th-list',
        export: 'fa-download'
    };
    
    let recipients = []
    window.operateEvents = {
        'click .btn-send-email': function (e, value, row, index) {
            recipients = [{
                name: row.name,
                email: row.email
            }];
            $('#email-modal-title').text('Send epost til ' + row.name);
            $('#email-modal').modal('show');
        },
        'click .btn-send-sms': function(e, value, row, index) {
            recipients = [row.phone];
            $('#sms-modal-title').text('Send SMS til ' + row.name);
            $('#sms-modal').modal('show');
        }
    };

        function sendEmail() {
        const subject = $('#email-subject').val();
        const text = $('#email-text').val();
        const email = {
            to: recipients,
            subject: subject,
            message: text
        };
        $.postJSON('/api/v0/messaging/email', email)
            .done(function(){
                if(recipients.length == 1){
                    toastr.success('Email sent to ' + recipients[0].name + '.');
                } 
                else {
                    toastr.success('Email sent to ' + recipients.length + ' participants.');
                }
            })
            .fail(function(){
                toastr.error('Could not send the Email.');;
            });
        $('#email-modal').modal('hide');
    }

        function sendSms() {
        const text = $('#sms-text').val();
        const sms = {
            to: recipients,
            text: text
        }
        $.postJSON('/api/v0/messaging/sms', sms)
            .done(function(){
                toastr.success('SMS sent to ' + recipients.length + ' participants.');
            })
            .fail(function(){
                toastr.error('Could not send the SMS.');
            });
        $('#sms-modal').modal('hide');
    }
    </script>
    @await Html.PartialAsync("_CompBootstrapTable")
    }
