language: csharp
dist: xenial
mono: none
dotnet: 2.2

script:
- dotnet test ./tests/EventManagement.IntegrationTests/EventManagement.IntegrationTests.csproj
- dotnet test ./tests/EventManagement.UnitTests/EventManagement.UnitTests.csproj
