@model Tuple<List<Registration>, int, bool>
@{
    var registrations = Model.Item1;
    var id = Model.Item2;
    var showVariants = Model.Item3;
}
<table  
    data-toggle="table" 
    data-pagination="false"
    data-show-columns="true"
    data-show-export="true"
    data-sort-name="name"
    data-sort-order="asc"
    data-icons-prefix="fa"
    data-icons="icons"
    data-search="true"
    data-advanced-search="true"
    data-search-align="left"
    data-click-to-select="true"
    data-id-table="advancedTable"
    data-export-options='{
        "fileName": "registrations-for-product-@id-@DateTime.Now.ToString("yyyy-MM-dd")"
    }'>
    <thead>
        <tr>
            <th data-field="name" data-sortable="true">Participant Name</th>
            <th data-field="phone" data-sortable="true">Phone Number</th>
            <th data-field="email" data-sortable="true">Email</th>
            <th data-field="variant" data-sortable="true">Variant</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var r in registrations)
        {
            <tr>
                <td data-field="name" data-sortable="true">@r.ParticipantName</td>
                <td data-field="phone" data-sortable="true">@r.User.PhoneNumber</td>
                <td data-field="email" data-sortable="true">@r.User.Email</td>
                <td data-field="variant" data-sortable="true">@r.Order?.OrderLines.Where(l => l.ProductId == id).FirstOrDefault()?.ProductVariantName</td>
            </tr>
        }
    </tbody>
</table>