@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="bg-warning jumbotron">
    <div class="container">
        <h1 class="">Vi e skikkelig lei oss!</h1>
        <p class="lead">Noe gikk galt. Send veldig gjerne en epost til nett@@nordland-legeforening.no, og forklar hva du prøvde å gjøre. </p>
    </div>
</div>
<div class="container min-height-75 py-5">
    <p><strong>Skulle du melde deg på et kurs, så send oss gjerne en epost! Ta med informasjon om: </strong></p>
        <ul>
            <li>Hvilket kurs du skulle melde deg på</li>
            <li>Ditt mobiltelefonnummer</li>
            <li>Om du ville være med på noe sosialt</li>
        </ul>
    @if (Model.ShowRequestId)
{
    <p class="pt-5">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
</div>

