@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container min-height-66">
<h2 class="pt-5">@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>
</div>