@page
@{
    ViewData["Title"] = "Confirmed";
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid min-height-33">
  <div class="container">
    <h1 class="display-2">Vellykket påmelding!</h1>
    <p class="lead">Vi sender litt mer informasjon p&aring; epost!</p>
  </div>
</div>
<div class="container min-height-50">
	<div class="row">
		<div class="col-6">
		<p><strong>Litt tregt?</strong> Ja. Vi jobber for &aring; f&aring; dette automatisert!</p>
		</div>
	</div>
</div>