@page "{id:int}"
@{
    ViewData["Title"] = "Confirmed";
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="container py-5">
    <h1 class="pt-5">Vellykket påmelding!</h1>
	<p>Vi sender deg instrukser for å komme i gang i løpet av et par dager</p>
</div>
