@model losol.EventManagement.Pages.Register.EventRegistrationConfirmedModel
@{
    ViewData["Title"] = "CourseRegistration";
    
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="container">
	Success.
</div>