@page "{id:int}"
@model ConfirmModel
@{
    ViewData["Title"] = "Confirmed";
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="jumbotron jumbotron-fluid min-height-33">
  <div class="container">
    <h1 class="display-2">Vi sjekker bare litt...</h1>
    <p class="lead">For &aring; v&aelig;re p&aring; den sikre siden.</p>
  </div>
</div>
<div class="container min-height-50">
	<div class="row">
		<div class="col-6">
		<p><strong>Kjedelig?</strong> Dette burde ikke ta lang tid...</p>
		</div>
	</div>
</div>