@page

<div class="jumbotron jumbotron-fluid min-height-33">
  <div class="container">
    <h1 class="display-4">Bare en liten ting til...</h1>
    <p class="lead">Vi har sendt deg en epost, der du m&aring;bekrefte p&aring;meldingen.</p>
  </div>
</div>
<div class="container min-height-33">
	<div class="row">
		<div class="col-6">
		<p><strong>Ikke f&aring;tt?</strong> Det g&aring;r ofte noen minutter. Sjekk eventuelt spam-filteret.</p>
		</div>
		<div class="col-6">
		<p><strong>Hvorfor?</strong> Fordi vi vil være helt sikker p&aring; at vi har registrert alt riktig.
		Og at vi har rett epostadresse, i tilfelle vi m&aring; kontakte deg.</p>
		</div>
	</div>
</div>