@page "{id:int}"
@model losol.EventManagement.Pages.Register.EventRegistrationModel
@{
    ViewData["Title"] = "CourseRegistration";
    
    Layout = "~/Pages/_Layout.cshtml";
}
<div class="container">
<h2>@Model.EventTitle <br><small> - Course registration</small></h2>
<p>@Model.EventDescription</p>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Phone"></label>
                <input asp-for="Input.Phone" class="form-control" />
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Employer"></label>
                <input asp-for="Input.Employer" class="form-control" />
                <span asp-validation-for="Input.Employer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.VatNumber"></label>
                <input asp-for="Input.VatNumber" class="form-control" />
                <span asp-validation-for="Input.VatNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

