@page

<div class="jumbotron jumbotron-fluid min-height-33">
  <div class="container">
    <h1 class="display-4">Vi beklager...</h1>
    <p class="lead">Litt flaut, men dette gikk galt. Send en epost til ole@@nordland-legeforening.no, så skal vi hjelpe deg.</p>
  </div>
</div>
<div class="container min-height-33">
	<div class="row">
		<div class="col-6">
		<p><strong>Hvorfor?</strong> Mest sannsynlig er det oss det er noe galt med. </p>
		</div>
	</div>
</div>