@page
<div class="container">
	<h1 class="display-1">Vilkår</h1>
	<p><strong>Partene:</strong></p>
<ul class="plain">
<li>Selger for tjenenestene p&aring; denne nettsiden er: Nordland Legeforening, Orgnr. 975535738, M&oslash;rkvedsenteret 17, 8028 Bod&oslash;.</li>
<li>Kj&oslash;per er den som er oppgitt som kj&oslash;per i bestillingen</li>
</ul>
<p><strong>P&aring;melding:</strong>&nbsp;Kurs og konferanser er &aring;pne for alle som tilfredsstiller forh&aring;ndskunnskapene som er n&oslash;dvendige for &aring; ta kurset, for de fleste kurs vil det bety at man m&aring; v&aelig;re lege. Du finner informasjon under hvert enkelt kurs om hvem som er m&aring;lgruppen. Personopplysningene du oppgir behandles konfidensielt, er sikkert lagret og vil ikke overgis eller selges til andre parter. For &aring; kunne benytte v&aring;re tjenester m&aring; du v&aelig;re over 18 &aring;r. Vi anbefaler at du alltid dobbeltsjekker ordreinnholdet f&oslash;r du bekrefter bestillingen. P&aring;meldte som ikke m&oslash;ter opp og som ikke er avmeldt vil m&aring;tte betale full kursavgift, og vil ikke motta kursbevis.</p>
<p><strong>Avmelding:</strong>&nbsp;Det enkelt kurs har angitt avmeldingsfrist. Kursp&aring;melding er i utgangspunktet bindende. Tjenestene som selges p&aring; dette nettstedet er ikke omfattet av angreretten og kj&oslash;per vil derfor ikke motta angrerettskjema fra Nordland Legeforening.</p>
<ul class="plain">
<li>Ved avmelding f&oslash;r avbestillingsfristen, s&aring; refunderes kursavgiften, men det tilkommer det et administrasjonsgebyr, for tiden p&aring; 500 kr.</li>
<li>Ved avmelding etter fristen vil kursavgiften kun refunderes ved dokumentert sykdom. Der hotell eller reise er bestilt og betalt til Nordland legeforening gjennom kursportalen vil vi avbestille hotell og reise, mens ved &oslash;vrige bestillinger m&aring; deltaker avbestille disse selv.</li>
<li>Ekstraprodukter som ekstra m&aring;ltider og utflukter og annet kan refunderes ved avmelding minst 2 uker f&oslash;r arrangementets start.</li>
</ul>
<p><strong>Avlysning:</strong>&nbsp;Dersom kurset blir avlyst grunnet forhold som Nordland legeforening ikke har kontroll over (force majeure), s&aring; vil vi informere deltakerne s&aring; snart som mulig. Innbetalt kursavgift vil da refunderes. Dersom kurset avlyses grunnet for f&aring; deltakere s&aring; vil kursavgift refunderes i sin helhet. Nordland legeforening tar ikke ansvar for deltakers reise til og fra kurssted.</p>
<p><strong>Pris:</strong>&nbsp;Kursprisen inkluderer adgang og eventuelt kursbevis for kurset. I tillegg har de fleste kurs ekstraprodukter som vi formidler, slik som for eksempel mat og utflukter.</p>
<p><strong>Betaling:</strong>&nbsp;Dersom deltaker &oslash;nsker faktura, settes bet.alingsfrist til 20 dager etter mottatt p&aring;melding. Dersom det er mer enn tre m&aring;neder til kursstart, s&aring; vil kurset faktureres tre m&aring;neder f&oslash;r kursstart. Dersom det er mindre enn tre uker til kurs, vil det kunne sendes faktura med kortere frist.</p>
<ul class="plain">
<li>Kortbetaling: Nordland Legeforening er ansvarlig for transaksjoner som gjennomf&oslash;res i nettbutikken. All informasjon mellom Nordland Legeforening og Nets er kryptert og utf&oslash;res med sikker teknologi. Kortnummeret ditt og din personlige informasjon er beskyttet, og formidles ikke til tredjepart eller Nordland Legeforening.</li>
<li>Faktura: Fordringer ivaretas av Arvato, og sp&oslash;rsm&aring;l om mottatt faktura gj&oslash;res til adresse spesifisert p&aring; faktura.</li>
</ul>
<p><strong>Endringer:</strong>&nbsp;Kursprogrammet vil kunne endres. Vi plikter &aring; orientere deltakerne s&aring; snart som mulig om endringer i programmet, og vil presentere gjeldende program til enhver tid p&aring; v&aring;re nettsider.</p>
<p><strong>Deltakers plikter:</strong></p>
<ul class="plain">
<li><strong>Informasjon til oss:</strong>&nbsp;Ved sykdom eller forsinkelser plikter deltaker &aring; orientere s&aring; raskt som mulig.</li>
<li><strong>Sertifisering/kursbevis:</strong>&nbsp;Det vil kunne settes ulike krav til deltakerne p&aring; kurs for &aring; f&aring; kursbevis. P&aring; de fleste kurs vil det f&oslash;res presensliste, der frav&aelig;r ikke aksepteres. P&aring; noen kurs vil det kunne v&aelig;re krav til kurspr&oslash;ve eller hjemmelekse for &aring; f&aring; kursbevis. Dersom man ikke tilfredsstiller krav spesifisert i kursbeskrivelse, s&aring; vil man ikke motta kursbevis.</li>
<li><strong>Klager/erstatningskrav:</strong>&nbsp;Klager og erstatningskrav skal rettes s&aring; snart som mulig, og senest innen to uker etter kursavslutning. De skal sendes skriftlig til daglig leder i Nordland legeforening.</li>
</ul>
</div>