@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full m-0 flex flex-col min-h-screen antialiased text-gray-800 dark:text-gray-200 bg-gradient-to-tr from-stone-100 via-stone-200 to-orange-50 bg-gradient-to-r dark:from-gray-800 dark:via-gray-900 dark:to-gray-800;
  }

  main {
    @apply flex-grow;
  }

  h1 {
    @apply text-6xl pt-16 pb-6;
  }

  h2 {
    @apply text-3xl pt-16 pb-3;
  }

  h3 {
    @apply text-2xl pt-12 pb-6;
  }

  h4 {
    @apply text-xl pt-3 pb-1;
  }

  h5 {
    @apply text-base pt-2 pb-1;
  }

  h6 {
    @apply text-base pt-1 pb-1;
  }

  blockquote {
    @apply text-xl italic font-semibold text-gray-900;
  }
}

@layer utilities {
  .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: '';
    background-color: rgba(0, 0, 0, 0);
  }
}
