@page
@model Eventuras.Pages.Admin.Organizations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="bg-gray-200 py-3">
    <div class="container">
        <h1>Organisasjoner</h1>

        <p>
            <a asp-page="Create" class="btn btn-success link-decoration-none">Legg til ny</a>
        </p>
    </div>
</div>

<div class="container py-5 min-height-75">
    @if (!Model.Organizations.Any()) {
            <h1>Ingen organisasjoner enda...</h1>
            <p class="lead">Fortvil ikke, trykk p&aring; den gr&oslash;nne knappen over for &aring; opprette en ny.</p>
    }
    <div class="row">
        @foreach (var item in Model.Organizations) {
            <div class="col-md-4">
                <div class="card text-white bg-info mb-3">
                    <div class="card-body">
                        <h2 class="card-title">@item.Name</h2>
                        <a asp-page="./Details" asp-route-id="@item.OrganizationId" class="btn btn-secondary link-decoration-none" >Vis</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>