# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# dotenv environment variable files
.env
.env.test
.env.*.local

# Next.js
.next/
out/

# Temporary files
tmp
temp

# IDE and editor directories
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
