# This file is an example of a .env file for the historia app.

# Set up your database
CMS_DATABASE_URL=postgres://127.0.0.1:5432/cms

# Make your secret with `openssl rand -hex 64`
CMS_SECRET=SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
# Must be HTTPS for Vipps - use Cloudflare tunnel for local dev:
# cloudflared tunnel --url http://localhost:3100
NEXT_PUBLIC_CMS_URL=http://localhost:3000

# Set up localisation
CMS_LOCALES=nb,en
CMS_DEFAULT_LOCALE=nb

PREVIEW_SECRET=your-preview-secret-here

# VIPPS PAYMENT CONFIGURATION
VIPPS_API_URL=URL
VIPPS_MERCHANT_SERIAL_NUMBER=123
VIPPS_CLIENT_ID=123
VIPPS_CLIENT_SECRET=SECRET
VIPPS_SUBSCRIPTION_KEY=123
VIPPS_SUBSCRIPTION_KEY_SECONDARY=123
VIPPS_CALLBACK_TOKEN=your-secret-callback-token-here

# Set up S3 for media storage
CMS_MEDIA_S3_ACCESS_KEY_ID=ACCESS_KEY_ID_HERE
CMS_MEDIA_S3_ENDPOINT=ENDPOINT_HERE
CMS_MEDIA_S3_SECRET_ACCESS_KEY=SECRET
CMS_MEDIA_S3_REGION=REGION_HERE
CMS_MEDIA_S3_BUCKET=BUCKET_HERE
