build
dist / media
dist
node_modules
supabase
public/robots.txt
public/sitemap.xml
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

# Sentry Config File
.env.sentry-build-plugin
