<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome, {{ Name }}!</title>
</head>
<body>
  <h1>Hello {{ Name }}</h1>
  <p>Thanks for joining {{ EventTitle }}.</p>
  <p>See details: <a href="{{ Url }}">click here</a></p>
</body>
</html>
