<!DOCTYPE html>
<html lang="no">
<head>
  <title>Velkommen, {{ Name }}!</title>
</head>
<body>
  <h1>Hei {{ Name }}</h1>
  <p>Takk for at du meldte deg på {{ EventTitle }}.</p>
  <p>Se detaljer: <a href="{{ Url }}">klikk her</a></p>
</body>
</html>
