/* Hr-fancy with star 
 * Requires FontAwesome
 */
    hr.fancy-inverse,
    hr.fancy {
        padding: 0;
        border: none;
        border-top: solid 1px;
        text-align: center;
        max-width: 250px;
        margin: 25px auto 30px;
    }

    hr.fancy-inverse:after,
    hr.fancy:after {
        content: "\f0f1";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2em;
        padding: 0 0.25em;
    }

    hr.fancy-inverse {
        border-color: white;
    }

    hr.fancy-inverse:after {
        background-color: #18bc9c;
        color: white;
    }

    hr.fancy {
        border-color: #2c3e50;
    }

    hr.fancy:after {
        background-color: white;
        background-color: #f7f7f9;
    }