@page "{id:int}"
@model losol.EventManagement.Pages.Admin.Events.EditModel

@{
    ViewData["Title"] = "Rediger kurs";
}

<div class="container">

    <h1>Rediger kurs</h1><hr />
    <div class="row">
        <div class="col-12">

            <form id="main-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EventInfo.EventInfoId" />
                <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="EventInfo.Title" class="control-label"></label>
                    <input asp-for="EventInfo.Title" class="form-control" />
                    <span asp-validation-for="EventInfo.Title" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="EventInfo.Code" class="control-label"></label>
                    <input asp-for="EventInfo.Code" class="form-control" />
                    <span asp-validation-for="EventInfo.Code" class="text-danger"></span>
                </div>
                
                <div class="form-group col-md-6">
                    <label asp-for="EventInfo.Status" class="control-label"></label>
                    <select asp-for="EventInfo.Status" asp-items="Html.GetEnumSelectList<losol.EventManagement.Domain.EventInfo.EventInfoStatus>()" class="form-control">
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="EventInfo.Type" class="control-label"></label>
                    <select asp-for="EventInfo.Type" asp-items="Html.GetEnumSelectList<losol.EventManagement.Domain.EventInfo.EventInfoType>()" class="form-control">
                    </select>
                </div>


                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <label>
                            <input asp-for="EventInfo.Featured" /> @Html.DisplayNameFor(model => model.EventInfo.Featured)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EventInfo.Description" class="control-label"></label>
                    <textarea asp-for="EventInfo.Description" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="EventInfo.Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="EventInfo.MaxParticipants" class="control-label"></label>
                        <input asp-for="EventInfo.MaxParticipants" class="form-control" />
                        <span asp-validation-for="EventInfo.MaxParticipants" class="text-danger"></span>
                    </div>
                </div>

                <hr>
                <h2>Utfyllende opplysninger</h2>
                <div class="form-group">
                    <label asp-for="EventInfo.MoreInformation" class="control-label"></label>
                    <textarea asp-for="EventInfo.MoreInformation" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="EventInfo.MoreInformation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventInfo.Program" class="control-label"></label>
                    <textarea asp-for="EventInfo.Program" class="form-control" rows="12"></textarea>
                    <span asp-validation-for="EventInfo.Program" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventInfo.PracticalInformation" class="control-label"></label>
                    <textarea asp-for="EventInfo.PracticalInformation" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="EventInfo.PracticalInformation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventInfo.WelcomeLetter" class="control-label"></label>
                    <textarea asp-for="EventInfo.WelcomeLetter" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="EventInfo.WelcomeLetter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventInfo.InformationRequest" class="control-label"></label>
                    <textarea asp-for="EventInfo.InformationRequest" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="EventInfo.InformationRequest" class="text-danger"></span>
                </div>

                <hr>
                <h2>Sted</h2>
                <div class="form-group">
                    <label asp-for="EventInfo.Location" class="control-label"></label>
                    <input asp-for="EventInfo.Location" class="form-control" />
                    <span asp-validation-for="EventInfo.Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventInfo.City" class="control-label"></label>
                    <input asp-for="EventInfo.City" class="form-control" />
                    <span asp-validation-for="EventInfo.City" class="text-danger"></span>
                </div>
                    <hr>
                    <h2>Datoer</h2>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="EventInfo.DateStart" class="control-label"></label>
                        <input asp-for="EventInfo.DateStart" class="form-control" />
                        <span asp-validation-for="EventInfo.DateStart" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="EventInfo.DateEnd" class="control-label"></label>
                        <input asp-for="EventInfo.DateEnd" class="form-control" />
                        <span asp-validation-for="EventInfo.DateEnd" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="EventInfo.LastRegistrationDate" class="control-label"></label>
                        <input asp-for="EventInfo.LastRegistrationDate" class="form-control" />
                        <span asp-validation-for="EventInfo.LastRegistrationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="EventInfo.LastCancellationDate" class="control-label"></label>
                        <input asp-for="EventInfo.LastCancellationDate" class="form-control" />
                        <span asp-validation-for="EventInfo.LastCancellationDate" class="text-danger"></span>
                    </div>
                </div>
                <hr>
                <h2>Diplom</h2>
                <div class="form-group">
                    <label asp-for="EventInfo.CertificateDescription" class="control-label"></label>
                    <textarea asp-for="EventInfo.CertificateDescription" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="EventInfo.CertificateDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventInfo.ProjectCode" class="control-label"></label>
                    <input asp-for="EventInfo.ProjectCode" class="form-control" />
                    <span asp-validation-for="EventInfo.ProjectCode" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EventInfo.OrganizerUserId" class="control-label"></label>
                    <input asp-for="EventInfo.OrganizerUserId" class="form-control" />
                    <span asp-validation-for="EventInfo.OrganizerUserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventInfo.OrganizationId" class="control-label"></label>
                    <input asp-for="EventInfo.OrganizationId" class="form-control" />
                    <span asp-validation-for="EventInfo.OrganizationId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EventInfo.ExternalInfoPageUrl" class="control-label"></label>
                    <input asp-for="EventInfo.ExternalInfoPageUrl" class="form-control" />
                    <span asp-validation-for="EventInfo.ExternalInfoPageUrl" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EventInfo.ExternalRegistrationsUrl" class="control-label"></label>
                    <input asp-for="EventInfo.ExternalRegistrationsUrl" class="form-control" />
                    <span asp-validation-for="EventInfo.ExternalRegistrationsUrl" class="text-danger"></span>
                </div>

                <hr>
                <h2>Bilde</h2>
                <div class="form-group">
                    <label asp-for="EventInfo.FeaturedImageUrl" class="control-label"></label>
                    <input asp-for="EventInfo.FeaturedImageUrl" class="form-control" />
                    <span asp-validation-for="EventInfo.FeaturedImageUrl" class="text-danger"></span>
                </div>            
                <div class="form-group">
                    <label asp-for="EventInfo.FeaturedImageCaption" class="control-label"></label>
                    <input asp-for="EventInfo.FeaturedImageCaption" class="form-control" />
                    <span asp-validation-for="EventInfo.FeaturedImageCaption" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lagre" class="btn btn-success" />
                    <input type="submit" asp-page-handler="SaveAndEditProducts" value="Lagre og endre produkter" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>

  var slug = function(str) {
  str = str.replace(/^\s+|\s+$/g, ''); // trim
  str = str.toLowerCase();

  // remove accents, swap ñ for n, etc
  var from = "ÁÄÂÀÃÅČÇĆĎÉĚËÈÊẼĔȆÍÌÎÏŇÑÓÖÒÔÕØŘŔŠŤÚŮÜÙÛÝŸŽáäâàãåčçćďéěëèêẽĕȇíìîïňñóöòôõøðřŕšťúůüùûýÿžþÞĐđßÆæ·/_,:;";
  var to   = "AAAAAACCCDEEEEEEEEIIIINNOOOOOORRSTUUUUUYYZaaaaaacccdeeeeeeeeiiiinnooooooorrstuuuuuyyzbBDdBEe------";
  for (var i=0, l=from.length ; i<l ; i++) {
    str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
  }

  str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
    .replace(/\s+/g, '-') // collapse whitespace and replace by -
    .replace(/-+/g, '-'); // collapse dashes

  return str;
};

$("#EventInfo_Title").keyup(function(){
    var eventcode = slug($("#EventInfo_Title").val())
    $("#EventInfo_Code").val(eventcode);    
});

</script>
<script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
<script>


    ClassicEditor
        .create( document.querySelector( '#EventInfo_MoreInformation' ) )
        .then( editor => {
			window.editor1 = editor;
		} )
        .catch( error => {
            console.error( err.stack );
        } );
    ClassicEditor
        .create( document.querySelector( '#EventInfo_Program' ) )
        .then( editor => {
			window.editor2 = editor;
		} )
        .catch( error => {
            console.error( err.stack );
        } );
    ClassicEditor
        .create( document.querySelector( '#EventInfo_PracticalInformation' ) )
        .then( editor => {
			window.editor3 = editor;
		} )
        .catch( error => {
            console.error( err.stack );
        } );
    ClassicEditor
        .create( document.querySelector( '#EventInfo_WelcomeLetter' ) )
        .then( editor => {
			window.editor4 = err.stack;
		} )
        .catch( error => {
            console.error( error );
        } );
</script>
}
