@model Dictionary<string, bool>

@{ var i = 0; }
@foreach (var (role, _) in Model)
{
    if (User.IsInRole(Roles.SuperAdmin))
    {
        <div class="form-check">
            <label class="form-check-label">
                @Html.Hidden($"MemberRoles[{i}].Key", role)
                @Html.CheckBox($"MemberRoles[{i}].Value", Model[role], new { @class = "form-check-input role-checkbox" })
                @role
            </label>
        </div>
    }
    else
    {
        // We still need to render something, otherwise anti-forgery check will fail (for unknown reason)
        @Html.Hidden($"MemberRoles[{i}].Key", role)
        @Html.Hidden($"MemberRoles[{i}].Value", Model[role])
    }
    i++;
}
