@page
@model Eventuras.Web.Pages.Admin.Users.CreateModel

@{
    ViewData["Title"] = "Ny bruker";
}

<div class="container py-5">
    <h1>Ny bruker</h1>
    <hr />

    <div class="row">
        <div class="col-12">
            <partial name="_StatusMessage" model="Model.StatusMessage" />
            <form id="main-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Name" class="control-label"></label>
                    <input asp-for="Input.Name" class="form-control" rows="6" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="control-label"></label>
                    <input asp-for="Input.Email" class="form-control" rows="6" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label asp-for="Input.PhoneCountryCode" class="control-label"></label>
                        <input asp-for="Input.PhoneCountryCode" class="form-control" rows="6" />
                        <span asp-validation-for="Input.PhoneCountryCode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-9">
                        <label asp-for="Input.PhoneNumber" class="control-label"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" rows="6" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                @if (Model.Organization != null && User.IsInRole(Roles.SuperAdmin))
                {
                    <div class="row">
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.Input.IsOrgMember, new { @class = "form-check-input", onchange = "javascript:enableRoleInputs(this.checked)" })
                            <label asp-for="Input.IsOrgMember" class="form-check-label">Assosiert med @Model.Organization.NameAndHostname</label>
                        </div>
                    </div>
                }
                <div class="row">
                    <partial name="_UserFormRolesPartial" model="Model.MemberRoles" />
                </div>
                <hr>
                <div class="form-group">
                    <input type="submit" value="Lagre" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="/Admin/Users/Index">Tilbake til brukeroversikten</a>
    </div>
</div>

@section Scripts {
    <partial name="_UserFormScriptsPartial" />
}
