@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" style="
    background: url('/assets/images/svolvaer.jpg') no-repeat center center;
    background-position: 0% 33%;
    background-size: cover;
    background-repeat: no-repeat;
">
    <div class="container text-white">
        <h1 class="display-3">Ta kurs i Nordland!</h1>
        <p>Nordland Legeforening satser på fag, kvalitet og opplevelser! </p>
    </div>
</div>

<div class="container" id="featured">
    <div class="row">
    @foreach (var item in Model.FeaturedEvents)
        {
            <div class="col-md-6">
                <h2>@item.Title</h2>
                <p>@item.Description</p>
                <p><a asp-page="./Events/Details" asp-route-id="@item.EventInfoId" class="btn btn-secondary link-decoration-none" role="button">Vis kurset »</a></p>
            </div>
        
        }
        </div>
</div>
