@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Det er gøy med kurs!</h1>
        <p>Her finner du p&aring;melding for tilstedekursene.</p>
        <p><a class="btn btn-primary btn-lg link-decoration-none" href="http://booking.kursinord.no/kursoversikt" role="button">Finn tilstedekurs »</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
    @foreach (var item in Model.FeaturedEvents)
        {
            <div class="col-md-6">
                <h2>@item.Title</h2>
                <p>@item.Description</p>
                <p><a asp-page="./Register/Event" asp-route-id="@item.EventInfoId" class="btn btn-secondary link-decoration-none" role="button">Vis kurset »</a></p>
            </div>
        
        }
        </div>
</div>
