@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Det er gøy med kurs!</h1>
        <p>Her finner du p&aring;melding for tilstedekursene.</p>
        <p><a class="btn btn-primary btn-lg link-decoration-none" href="http://booking.kursinord.no/kursoversikt" role="button">Finn tilstedekurs »</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Nettkurs EKG</h2>
            <p>Hvorfor ikke gjenoppfriske ekg-kunnskapene litt? </p>
            <p><a class="btn btn-secondary link-decoration-none" href="https://kursinord.talentlms.com/catalog/info/id:126" role="button">Vis kurset »</a></p>
        </div>
        <div class="col-md-6">
            <h2>Nettkurs Diabetes</h2>
            <p>Diabeteskurset er godkjent med 6 timer, men vi jobber med å få det som 8. </p>
            <p><a class="btn btn-secondary link-decoration-none" href="/Registrations/DiabetesCourse" role="button">Vis kurset »</a></p>
        </div>
    </div>

 
</div>
