@page
@model losol.EventManagement.Pages.Admin.Users.SetPasswordModel
@{
    ViewData["Title"] = "Brukere";
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="container">
    <h1>Brukere</h1>
    <p>Kommer snart....</p>
</div>