@page "{id:int}"
@model Eventuras.Web.Pages.Admin.Sync.AddExternalEventModel
@{
    ViewData["Title"] = $"{Model.EventInfo.Title} - Legg til ny ekstern kursreferanse";
}
<div class="bg-gray-300 py-3">
    <div class="container">
        <h1>@Model.EventInfo.Title - Legg til ny ekstern kursreferanse</h1>
    </div>
</div>

<div class="container py-3 min-height-75">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form method="post" id="form-add-external-event-reference">
        <div class="row justify-content-between py-3">
            <div class="col-md-9">
                <div class="form-group">
                    <label>Ekstern tjeneste</label>
                    <select id="external-service-name"
                            class="form-control"
                            asp-for="ExternalEvent.ExternalServiceName"
                            required="required">
                        @foreach (var externalServiceName in Model.ExternalServiceNames)
                        {
                            <option value="@externalServiceName">@externalServiceName</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label>Eksternt kurs-ID</label>
                    <input type="text" asp-for="ExternalEvent.ExternalEventId" id="external-event-id"
                           required="required" />
                </div>

                <div class="form-group py-3">
                    <input type="submit" value="Legg til kursreferanse" class="btn btn-lg btn-success" />
                </div>
            </div>
        </div>
    </form>

</div>
