@page "{id:int?}"
@model Eventuras.Web.Pages.Admin.Sync.SetupModel

@{
    ViewData["Title"] = $"{Model.EventInfo.Title} - Synkroniser med eksterne tjenester - Oppsett";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div>
            <h1 class="display-4">@Model.EventInfo.Title - Synkroniser med eksterne tjenester</h1>
            <a asp-page="./AddExternalEvent"
               asp-route-id="@Model.EventInfo.EventInfoId"
               class="btn btn-info link-decoration-none">Legg til ny ekstern kursreferanse</a>
        </div>
    </div>
</div>

<div class="container min-height-50 pb-5">
    <div class="row">
        <div class="col">
            <h2>Eksterne kurs</h2>
            <table id="external-events-table"
                   data-toggle="table"
                   data-url="/api/v1/events/external/@Model.EventInfo.EventInfoId"
                   data-pagination="false"
                   data-show-columns="true"
                   data-show-export="false"
                   data-icons-prefix="fa"
                   data-search="false"
                   data-advanced-search="false"
                   data-show-refresh="false"
                   data-click-to-select="true">
                <caption>Oversikt eksterne kurs</caption>
                <thead>
                    <tr>
                        <th data-field="externalServiceName" scope="col">Ekstern tjeneste</th>
                        <th data-field="externalEventId" scope="col">Eksternt kurs-ID</th>
                        <th data-formatter="RowActions" scope="col">Meny</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>

        var $table = $('#external-event-table');
        $('#toolbar').find('select').change(function() {
            $table.bootstrapTable('refreshOptions');
        });

        function deleteExternalEvent(localId) {
            if (confirm('Slett referanse for ekstern kilde?')) {
                $.ajax({
                    url: '/api/v1/events/external/@Model.EventInfo.EventInfoId?localId=' + localId,
                    type: 'DELETE',
                    success: function() {
                        $table.bootstrapTable('remove',
                            {
                                field: 'localId',
                                values: [localId]
                            });
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }
        }

        function RowActions(value, row, index, field) {
            var actions = [];
            actions.push('<button type="button" class="btn btn-danger btn-remove" onclick="deleteExternalEvent(' + row.localId + ')">Slett</button>');
            return actions.join('');
        }

    </script>
}