.pagination {
  display: flex;
  list-style: none;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 10px;
}

.pagination a {
  border-radius: 5px;
  color: #000000;
  padding: 5px;
  margin: 0 5px;
}

.pagination__link {
  font-weight: bold;
  border: 1px solid #000000;
}

.pagination__link--active a {
  text-decoration: underline;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
