@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Epost bekreftet";
}

<div class="jumbotron jumbotron-fluid min-height-33">
  <div class="container">
    <h1 class="display-1">Epost bekreftet</h1>
    <p class="lead pb-5">Du kan n&aring; logge inn!</p>
  </div>
</div>

<div class="container">
    <p>
        Takk for bekreftelsen! :)
    </p>
</div>
