@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container py-5">
<div class="row min-height-75">

    <div class="col-md-6">
        <section>
            <h2>Vanlig innlogging</h2>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Logg inn</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Glemt passordet?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
     <div class="col-md-4 offset-2">
        <section class="card bg-light p-5">
            <h2>Magisk innlogging (beta)</h2>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                @if(!string.IsNullOrWhiteSpace(Model.SuccessMessage))
                {
                    <div class="alert alert-success" role="alert">
                    @Model.SuccessMessage
                    </div>
                }
                
                <div class="form-group">
                    <br>
                    <span>Legg inn eposten din her, s&aring; sender vi deg en lenke for &aring; logge inn.</span>
                    <br><br>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" asp-page-handler="SendMagicLink" class="btn btn-info">Send magisk lenke</button>
                </div>
            </form>
        </section>
    </div>
</div>
</div>
@section Scripts {
    @await  Html.PartialAsync("_ValidationScriptsPartial")
}
