@page
@model LoginModel

@{
    ViewData["Title"] = "Innlogging";
}
<div class="bg-info py-5">
    <div class="container min-height-75">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-white shadow p-5">
                <h1 class="display-1 text-center"><i class="fa fa-unlock-alt" aria-hidden="true"></i></h1>
                <section id="magiclink">
                    <h2>Magisk lenke</h2>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        
                        <div class="form-group">
                            <br>
                            <span>Legg inn eposten din her, s&aring; sender vi en magisk innloggingslenke. N&aring;r du klikker p&aring; lenken i eposten din, s&aring; er du innlogget.</span>
                            <br><br>
                             <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" asp-page-handler="SendMagicLink" class="btn btn-info">Send magisk lenke</button>
                        </div>
                    </form>
                    <div><a asp-page="./LoginWithPassword">Logg inn med passord</a></div>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await  Html.PartialAsync("_ValidationScriptsPartial")
}
