@page

<div class="jumbotron jumbotron-fluid min-height-33 bg-success text-white shadow">
  <div class="container">
    <h1 class="display-1">Magisk lenke på tur!</h1>
    <p class="lead">Vi har sendt deg en epost, med en lenke som du kan logge inn med! Lenka varer bare i ti minutter, s&aring; skynd deg!</p>
  </div>
</div>
<div class="container min-height-33">
	<div class="row">
		<div class="col-6">
		<p><strong>Ikke f&aring;tt?</strong> Det tar ofte et par minutter. Sjekk eventuelt spam-filteret!</p>
		</div>
		<div class="col-6">
		<p><strong>Hvorfor?</strong> Vi &oslash;nsker ikke &aring; ta vare p&aring; passord. Derfor trenger du ikke passord p&aring; denne nettsiden.</p>
		</div>
	</div>
</div>