@page "{id:int}"
@model losol.EventManagement.Pages.Admin.Organizations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="bg-gray-200 py-3">
    <div class="container">
        <h1>@Model.Organization.Name</h1>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            Mer info her..
        </div>
    </div>
</div>
