@page "{id:int}"
@{
    var id = Convert.ToInt32(RouteData.Values["id"]);
    
}
<div class="container">
	<div class="row">
        <div class="col">
            <h2>Heya</h2>
        </div>
    </div>
</div>