name: .NET Core CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.101
      - name: Build with dotnet
        run: dotnet build --configuration Release
      - name: Integration tests
        run: dotnet test ./tests/Eventuras.IntegrationTests/Eventuras.IntegrationTests.csproj
      - name: Unit tests
        run: dotnet test ./tests/Eventuras.UnitTests/Eventuras.UnitTests.csproj
