name: Add eventurasdb tool to latest release

on:
  workflow_dispatch:
    inputs:
      tagName:
        description: "Tag Name (e.g., v1.0.1)"
        required: true
      draft:
        description: "Create as a draft release? (true/false)"
        required: false
        default: "false"
      prerelease:
        description: "Mark as prerelease? (true/false)"
        required: false
        default: "false"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0"

      - name: Install EF Core CLI
        run: dotnet tool install --global dotnet-ef

      - name: Build EF Bundle
        run: |
          dotnet ef migrations bundle -s src/Eventuras.WebApi/Eventuras.WebApi.csproj -o ./dist/eventurasdb/eventurasdb --self-contained -r linux-x64 --force
        working-directory: ./apps/api

      - name: Set release name with version
        id: set_release_name
        run: echo "RELEASE_NAME=eventurasdb tool ${{ github.event.inputs.tagName }}" >> $GITHUB_ENV

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          body: "Also updates the eventurasdb linux tool to handle database migrations for Eventuras API."
          files: ./apps/api/dist/eventurasdb/eventurasdb
          draft: ${{ github.event.inputs.draft }}
          prerelease: ${{ github.event.inputs.prerelease }}
          append_body: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
