name: Vercel deployment

# Example usage:
# jobs:
#   docs-deploy:
#     name: Deploy Docsite
#     uses: ./.github/workflows/util-vercel-deploy.yml
#     with:
#       environment: docsite
#     secrets:
#       VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
#       VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
#       VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
#
# The environment needs to provide `VERCEL_TOKEN`, `VERCEL_ORG_ID` and `VERCEL_PROJECT_ID` secrets.

on:
  workflow_call:
    inputs:
      environment:
        description: "Github environment"
        required: true
        type: string
      vercel_environment:
        description: "Vercel environment (production|preview|staging)"
        required: false
        type: string
        default: "production"
      promote:
        description: "Toggle to promote the deployment to production."
        required: false
        type: boolean
        default: false
      custom_url:
        description: "Optional custom URL for aliasing the deployment."
        required: false
        type: string
    secrets:
      VERCEL_TOKEN:
        required: true
      VERCEL_ORG_ID:
        required: true
      VERCEL_PROJECT_ID:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Cache Node.js modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"

      - name: Npm CI
        run: npm ci

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=${{ inputs.vercel_environment }} --token=${{ secrets.vercel_token }}

      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.vercel_token }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.vercel_token }}

      - name: Set Custom URL
        if: ${{ inputs.custom_url }}
        run: vercel alias --token=${{ secrets.vercel_token }} set "$url" ${{ inputs.custom_url }}

      - name: Promote
        if: ${{ inputs.promote }}
        run: vercel promote --token=${{ secrets.vercel_token }}
