name: Web CI
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  NEXT_PUBLIC_BACKEND_URL: ${{ secrets.NEXT_PUBLIC_BACKEND_URL }}
  NEXT_PUBLIC_DEFAULT_LOCALE: ${{ secrets.NEXT_PUBLIC_DEFAULT_LOCALE }}
  NEXT_PUBLIC_API_BASE_URL: ${{ secrets.NEXT_PUBLIC_API_BASE_URL }}
  NEXT_PUBLIC_AUTH0_DOMAIN: ${{ secrets.NEXT_PUBLIC_AUTH0_DOMAIN }}
  NEXT_PUBLIC_LOGOUT_URL_REDIRECT: ${{ secrets.NEXT_PUBLIC_LOGOUT_URL_REDIRECT }}
  NEXTAUTH_URL: ${{ secrets.NEXTAUTH_URL }}
  NEXT_PUBLIC_APPLICATION_URL: ${{ secrets.NEXT_PUBLIC_APPLICATION_URL }}
  AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
  AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
  AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
  AUTH0_API_AUDIENCE: ${{ secrets.AUTH0_API_AUDIENCE }}
  NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
  NEXT_PUBLIC_ORGANIZATION_ID: ${{ secrets.NEXT_PUBLIC_ORGANIZATION_ID }}
  SESSION_SECRET: ${{ secrets.SESSION_SECRET }}

on:
  push:
    branches:
      - main
    paths:
      - "apps/web/**"
  pull_request:
    branches:
      - main
    paths:
      - "apps/web/**"
    types: [opened, synchronize]
  workflow_call:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: Select the environment

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 10.24.0
          run_install: false

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile=false

      - name: Lint
        run: pnpm turbo run lint

  build:
    name: Build
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || 'web-dev' }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          run_install: false
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'


      - name: Install dependencies
        run: pnpm install

      - name: Build dependencies
        run: pnpm turbo run build --filter=@eventuras/web^...

      - name: Build web project
        run: pnpm turbo run build --filter=@eventuras/web

  deploy-preview:
    name: Deploy Preview
    if: >
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'pull_request' &&
      github.event.pull_request.base.ref == 'main' &&
      !github.event.pull_request.draft
    needs: [build, lint]
    uses: ./.github/workflows/util-vercel-deploy.yml
    with:
      environment: ${{ github.event.inputs.environment || 'web-dev' }}
      vercel_environment: preview
      url: dev.eventuras.losol.io
    secrets:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
      AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
      SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
  deploy-staging:
    name: Deploy Staging
    if: >
      github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [build, lint]
    uses: ./.github/workflows/util-vercel-deploy.yml
    with:
      environment: web-staging
    secrets:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
      AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
      SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
